<%#-- copyright
OpenProject Meeting Plugin

Copyright (C) 2011-2014 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.md for more details.

++#%>

<%= error_messages_for 'meeting' %>

<section class="form--section create-metting">
  <div class="form--field">
    <%= f.text_field :title, required: true, :size => 60, container_class: '-wide' %>
  </div>
  <div class="form--field d-flex flex-row justify-content-between">
    <div>
      <label class="form--label -required" for="meeting_objective">MEETING OBJECTIVES</label>
    </div>
    <div class="plus-icon second-modal" data-target="add-meeting-button"><i class="button--icon icon-add" aria-hidden="true"></i></div>
  </div>
  <div class="title">People</div>
  <div class="form--field d-flex flex-row justify-content-between">
    <div><label class="form--label -required" for="meeting_guest">ADD GUESTS</label></div>
    <div class="plus-icon third-modal" data-target="add-meeting-button"><i class="button--icon icon-add" aria-hidden="true"></i></div>
  </div>
  <div class="title">Estimates and Time</div>

  <div class="calendar d-flex">
    <div class="form--field">
      <label for="meeting-form-start-date" class="form--label -required">
      <span aria-hidden="true"><%= Meeting.human_attribute_name(:start_date) %>
        <span class="form--label-required" aria-hidden="true">*</span>
      </span>
        <span class="hidden-for-sighted"><%= t(:label_start_date)%>
          <%= t(:text_hint_date_format) %></span>
      </label>

      <div class="form--field-container">
        <%= f.text_field :start_date,
                         id: 'meeting-form-start-date',
                         required: true,
                         size:     10,
                         no_label: true,
                         container_class: '-xslim' %>
        <%= calendar_for('meeting-form-start-date') %>
        <%= f.text_field :start_time_hour,
                         id: 'meeting-form-start-time',
                         required: true,
                         type:     'time',
                         no_label: true,
                         step:     5.minutes,
                         container_class: '-xslim' %>
      </div>
    </div>
  </div>

  <div class="form--field">
    <label for="meeting-form-duration" class="form--label -required">
      <span><%= Meeting.human_attribute_name(:duration) %>
        <span class="form--label-required" aria-hidden="true">*</span>
      </span>
    </label>

    <div class="form--field-container">
      <%= f.number_field :duration,
                         id: 'meeting-form-duration',
                         required: true,
                         size:     5,
                         no_label: true,
                         min:      0.00,
                         step:     0.25,
                         max:      168,
                         suffix:   t(:text_in_hours),
                         container_class: '-xslim' %>
    </div>
  </div>
  <div class="form--field">
    <%= f.text_field :location, required: true, :size => 60, container_class: '-wide' %>
  </div>

  <%= hidden_field_tag "copied_from_meeting_id", params[:copied_from_meeting_id] if params[:copied_from_meeting_id].present? %>
  <%= hidden_field_tag "copied_meeting_agenda_text", params[:copied_meeting_agenda_text] if params[:copied_meeting_agenda_text].present? %>

</section>

<%= render :partial => 'shared/meeting_header' %>
